*{
    overflow-x: hidden;
}
body{
    background-color: #252525;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.canvas{
    display:flex;
}
@media screen and (min-width: 992px) {
    .sidebar{
        background-color:#333333;
        width:17%;
    }
}
@media screen and (max-width: 991px) {
    .sidebar{
        background-color:#333333;
        width:40%;
    }
}
.headlogo{
    padding: 1rem 1.5rem 6rem 1.5rem;
}
@media screen and (max-width: 992px) {
    .headlogo img{
        position:relative;
        left:-1.7rem;
    }
}
.menu{
    text-align:center;
    font-size:1.1rem;
    padding: 0rem 0rem 14.5rem 0rem;
}
.menuop{
    padding:0.6rem 1.5rem;
    position:relative;
    line-height: 2.4;
}
.menuop:hover {
    background-color: #aaa;
    margin:0 1rem;
    border-radius:0.4rem;
}
.menuop:active {
    background-color: #2e7bda;
}
@media screen and (min-width: 992px) {
    .menuop:after{
        background-color: grey;
        height:0.03rem;
        width: 9rem;
        content:"";
        position:absolute;
        display:block;
        margin:0 12%;
    }
}
@media screen and (max-width: 991px) {
    .menuop:after{
        background-color: grey;
        height:0.03rem;
        width: 7rem;
        content:"";
        position:absolute;
        display:block;
        margin:0 12%;
    }
}
.menuabt{
    /*background-color: #2e7bda;
    height:0.1rem;*/
    background-color:#2e7bda;
    margin:0 1rem;
    border-radius:5%;
}
.menu i{
    color:white;
}
.menu p{
    display:inline;
    padding:4%;
}
.menu a{
    text-decoration: none;
    color:white;
}
.back{
    width:83%;
    box-shadow: 0 15px 45px rgba(0,0,0,0.1);
}
.descbar{
    background: linear-gradient(0deg, #252525 50%, #0061a7 50%);
    margin:4rem 2rem 2rem 2rem;
}
#descbarh1{
    margin:0;
    transform:translateY(2rem);
    color:white;
    text-align:center;
    font-size:2.5rem;
}
@media screen and (min-width: 992px) {
    .desc{
        margin:4rem 2rem;
        color:white;
        display:flex;
        box-shadow: 0 15px 45px rgba(0,0,0,0.1);
        background: rgba(255,255,255,0.1);
        backdrop-filter:blur(1rem);
        border-radius:1rem;
        height:28.5rem;
    }
    .abt{
        width:55%;
    }
    .abtbar{
        margin:3rem 1rem 3rem 3rem;
    }
    .abt h1{
        display:inline;
        font-size:2rem;
    }
    .abt p{
        font-size:1.1rem;
        line-height:1.8rem;
    }
}
@media screen and (max-width: 991px) {
    .desc{
        margin:3rem 1rem;
        color:white;
        box-shadow: 0 15px 45px rgba(0,0,0,0.1);
        background: rgba(255,255,255,0.1);
        backdrop-filter:blur(1rem);
        border-radius:1rem;
        height:55rem;
    }
    .abt{
        width:100%;
    }
    .abtbar{
        margin:1rem 0.4rem 3rem 0.4rem;
    }
    .abt h1{
        display:inline;
        font-size:1.5rem;
    }
    .abt p{
        font-size:.8rem;
        line-height:1.8rem;
    }
}
#abtname{
    color:#2e7bda;
}
@media screen and (min-width: 992px) {
    .abtimg{
        width:45%;
    }
    .abtimg img{
        margin:2rem 2rem;
    }
}
@media screen and (max-width: 991px) {
    .abtimg{
        width:98%;
    }
    .abtimg img{
        height:20rem;
        width:25rem;
        margin:0 0.3rem;
    }
}
.footer{
    text-align:center;
    padding:0.5rem;
    transform:translateY(-1rem);
}
.ficons a{
    text-decoration: none;
    height:2.5rem;
    width:2.5rem;
    line-height:2.5rem;
    margin:0.6rem 0.3rem;
    color:white;
    background-color: #0061a7;
    font-size: 1.2rem;
    border:1px solid white;
    border-radius:50%;
    transition:transform 0.2s;
}
.ficons a:hover{
    transform: translate(0, -0.6rem);
}