*{
    overflow-x: hidden;
}
body{
    background-color: #252525;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.canvas{
    display:flex;
}
@media screen and (min-width: 992px) {
    .sidebar{
        background-color:#333333;
        width:17%;
        position:fixed;
    }
    .headlogo{
        padding: 1rem 1.5rem 6rem 1.5rem;
    }
    .menu{
        text-align:center;
        font-size:1.1rem;
        padding: 0rem 0rem 14.5rem 0rem;
    }
}
@media screen and (max-width: 991px) {
    .sidebar{
        background-color:#333333;
        width:30%;
        position:fixed;
        transition: transform 0.2s linear;
        transform: translateX(-15rem);
        z-index:9999;
    }
    .sidebarv{
        background-color:#333333;
        width:40%;
        position:fixed;
        transition: transform 0.2s linear;
        transform: translateX(0rem);
        z-index:9999;
        height:49.5rem;
    }
    .headlogo{
        padding: 1rem 1.5rem 6rem 1.5rem;
    }
    .headlogo img{
        height:5rem;
        width:10rem;
        transform: translate(-1.5rem,2rem);
    }
    .menu{
        text-align:center;
        font-size:0.8rem;
        padding: 0rem 0rem 14.5rem 0rem;
    }
}
.menuop{
    padding:0.6rem 1.5rem;
    position:relative;
    line-height: 2.4;
}
.menuop:hover {
    background-color: #aaa;
    /*background-color:#2e7bda;*/
    margin:0 1rem;
    border-radius:0.4rem;
}
.menuop:active {
    background-color: #2e7bda;
}
@media screen and (min-width: 992px) {
    .menuop:after{
        background-color: grey;
        height:0.03rem;
        width: 9rem;
        content:"";
        position:absolute;
        display:block;
        margin:0 12%;
    }
}
@media screen and (max-width: 991px) {
    .menuop:after{
        background-color: grey;
        height:0.03rem;
        width: 6rem;
        content:"";
        position:absolute;
        display:block;
        margin:0 8%;
    }
}
.menusrvc{
    background-color:#2e7bda;
    margin:0 1rem;
    border-radius:0.4rem;
}
.menu i{
    color:white;
}
.menu p{
    display:inline;
    padding:4%;
}
.menu a{
    text-decoration: none;
    color:white;
}
@media screen and (min-width: 992px) {
    .back{
        width:83%;
        box-shadow: 0 15px 45px rgba(0,0,0,0.1);
        position:relative;
        left:16.2rem;
    }
    .centlogo{
        display:flex;
        height:0;
    }
    .descbar{
        background: linear-gradient(0deg, #252525 50%, #0061a7 50%);
        margin:4rem 2rem 1rem 2rem;
    }
    #descbarh1{
        margin:0;
        transform:translateY(2rem);
        color:white;
        text-align:center;
        font-size:2.5rem;
    }
    .desc{
        margin:4rem 2rem;
        color:white;
        box-shadow: 0 15px 45px rgba(0,0,0,0.1);
        background: rgba(255,255,255,0.1);
        backdrop-filter:blur(1rem);
        border-radius:1rem;
        height:108rem;
    }
    .formbar{
        width:92%;
        margin:auto;
        margin-top:2.2rem;
    }
    .formbar input{
        background-color: transparent;
        border:none;
        border-bottom: 0.05rem solid #aaa;
        outline:none;
        border-radius:5%;
        color:white;
        font-size: 1.1rem;
    }
    .formbar p{
        font-size:1.1rem;
    }
    #subbut{
        background-color: #2765b0;
        border:none;
        color:white;
        font-size:1.05rem;
        padding:0.4rem;
        width:5rem;
        margin:0 27rem;
    }
}
@media screen and (max-width: 991px) {
    .back{
        width:100%;
        box-shadow: 0 15px 45px rgba(0,0,0,0.1);
        position:relative;
    }
    .centlogo{
        display:flex;
        width:100%;
        display:flex;
        visibility: visible;
    }
    .centlogo img{
        margin:2rem 2rem 2rem 7rem;
    }
    .vers{
        font-size:1.5rem;
        margin: 4rem 1rem 1rem 1rem;
    }
    .bars{
        color:grey;
    }
    .bars:hover{
        color:white;
    }
    .xmark{
        color:grey;
        transform: translate(160%,0%);
        visibility: hidden;
    }
    .xmark:hover{
        color:white;
    }
    .descbar{
        background: linear-gradient(0deg, #252525 50%, #0061a7 50%);
        margin:2rem 0.7rem;
    }
    #descbarh1{
        margin:0;
        transform:translateY(2rem);
        color:white;
        text-align:center;
        font-size:2rem;
    }
    .desc{
        margin:3rem 0.7rem 1rem 0.7rem;
        color:white;
        box-shadow: 0 15px 45px rgba(0,0,0,0.1);
        background: rgba(255,255,255,0.1);
        backdrop-filter:blur(1rem);
        border-radius:1rem;
        height:109rem;
    }
    .formbar{
        width:90%;
        margin:auto;
        margin-top:1.5rem;
    }
    .formbar input{
        background-color: transparent;
        border:none;
        border-bottom: 0.05rem solid #aaa;
        outline:none;
        border-radius:5%;
        color:white;
        font-size: 1.1rem;
    }
    #subbut{
        background-color: #2765b0;
        border:none;
        color:white;
        font-size:1rem;
        padding:0.3rem;
        width:5rem;
        margin:0 7rem;
    }
}
#subbut:hover{
    background-color: #2e7bda;
}
#subbut:active{
    transform: scale(1.1);
}
.footer{
    text-align:center;
    padding:0.5rem;
    transform:translateY(-0.25rem);
}
.ficons a{
    text-decoration: none;
    height:2.5rem;
    width:2.5rem;
    line-height:2.5rem;
    margin:0.6rem 0.3rem;
    color:white;
    background-color: #0061a7;
    font-size: 1.2rem;
    border:1px solid white;
    border-radius:50%;
    transition:transform 0.2s;
}
.ficons a:hover{
    transform: translate(0, -0.6rem);
}