*{
    overflow-x: hidden;
}
body{
    background-color: #252525;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.canvas{
    display:flex;
}
@media screen and (min-width: 992px) {
    .sidebar{
        background-color:#333333;
        width:17%;
        position:fixed;
    }
    .headlogo{
        padding: 1rem 1.5rem 3.5rem 1.5rem;
    }
    .menu{
        text-align:center;
        font-size:1.1rem;
        padding: 0rem 0rem 14.5rem 0rem;
    }
}
@media screen and (max-width: 991px) {
    .sidebar{
        background-color:#333333;
        width:30%;
        position:fixed;
        transition: transform 0.2s linear;
        transform: translateX(-15rem);
        z-index:9999;
    }
    .sidebarv{
        background-color:#333333;
        width:45%;
        position:fixed;
        transition: transform 0.2s linear;
        transform: translateX(0rem);
        z-index:9999;
        height:49.5rem;
    }
    .headlogo{
        padding: 1rem 1.5rem 6rem 1.5rem;
    }
    .headlogo img{
        height:5rem;
        width:10rem;
        transform: translate(-1.5rem,2rem);
    }
    .menu{
        text-align:center;
        font-size:0.8rem;
        padding: 0rem 0rem 14.5rem 0rem;
    }
}
.menuop{
    padding:0.6rem 1.5rem;
    margin-top:0.2rem;
    margin-bottom:0.2rem;
    position:relative;
    line-height: 2.4;
}
.menuop:hover {
    background-color: #aaa;
    /*background-color:#2e7bda;*/
    margin-right:0.5rem;
    margin-left:0.5rem;
    border-radius:0.4rem;
}
.menuop:active {
    background-color: #2e7bda;
}
@media screen and (min-width: 992px) {
    .menuop:after{
        background-color: grey;
        height:0.03rem;
        width: 9rem;
        content:"";
        position:absolute;
        display:block;
        margin:0 12%;
    }
}
@media screen and (max-width: 991px) {
    .menuop:after{
        background-color: grey;
        height:0.03rem;
        width: 6rem;
        content:"";
        position:absolute;
        display:block;
        margin:0 3%;
    }
}
.menufrm{
    background-color:#2e7bda;
    margin:0 1rem;
    border-radius:0.4rem;
    transform: translateX(0.5rem);
}
.menu i{
    color:white;
}
.menu p{
    display:inline;
    padding:4%;
}
.menu a{
    text-decoration: none;
    color:white;
}
@media screen and (min-width: 992px) {
    .back{
        width:83%;
        box-shadow: 0 15px 45px rgba(0,0,0,0.1);
        position:relative;
        left:16.2rem;
    }
    .centlogo{
        display:flex;
        height:0;
    }
    .headbar{
        display:flex;
        background-color: #444343;
        padding:2rem;
        margin:3rem 2rem;
        color:white;
    }
    .desc{
        padding: 2rem;
        width:70%;
    }
    .desc p{
        font-size:1.1rem;
        line-height: 1.4;
    }
    .desc button{
        background-color: #2765b0;
        color:white;
        height:2.5rem;
        width:8rem;
        font-size:1.1rem;
        padding:0.3rem;
        transition: all .2s ease-in-out;
    }
    .desc button:hover{
        background-color: #2e7bda;
    }
    .desc button:active{
        transform: scale(1.1);
    }
    .tempheadimg{
        transform: rotate(-10deg);
    }
}
@media screen and (max-width: 991px) {
    .back{
        width:100%;
        box-shadow: 0 15px 45px rgba(0,0,0,0.1);
        position:relative;
    }
    .centlogo{
        display:flex;
        width:100%;
        display:flex;
        visibility: visible;
    }
    .centlogo img{
        margin:2rem 2rem 2rem 7rem;
    }
    .vers{
        font-size:1.5rem;
        margin: 4rem 1rem 1rem 1rem;
    }
    .bars{
        color:grey;
    }
    .bars:hover{
        color:white;
    }
    .xmark{
        color:grey;
        transform: translate(160%,0%);
        visibility: hidden;
    }
    .xmark:hover{
        color:white;
    }
    .headbar{
        background-color: #444343;
        margin:1rem 2rem 3rem 2rem;
        color:white;
        height:26rem;
    }
    .desc{
        width:90%;
        margin:auto;
    }
    .desc h1{
        font-size:1.9rem;
    }
    .desc p{
        font-size:1rem;
        line-height:1.2rem;
    }
    .tempheadimg{
        transform: rotate(-10deg);
        width:90%;
    }
    .tempheadimg img{
        height:10rem;
        width:7rem;
        margin:1.2rem 7rem 0.5rem 7rem;
    }
}


@media screen and (min-width: 992px) {
    .resumebarparts{
        background: linear-gradient(0deg, #252525 50%, #0061a7 50%);
        display:flex;
        flex-wrap: wrap;
        margin:0 0.5rem;
    }
    .resumebarpartsmob{
        display:flex;
        width:50%;
    }
    .templatebox{
        background-color:white;
        margin:5rem 1.2rem;
        height:25rem;
        width:17rem;
        box-shadow: 0 15px 45px rgba(0,0,0,0.1);
        background: rgba(255,255,255,0.1);
        backdrop-filter:blur(1rem);
        border-radius:5%;
        border-top:0.08rem solid white;
        border-left:0.08rem solid white;
        text-align:center;
        transition:transform 3s;
        overflow:hidden;
    }
    .templatebox img{
        margin:2.5rem 0 0.9rem 0;
        border-radius:3%;
        transition:transform 0.3s;
    }
    .templatebox p{
        margin:0 0 0.6rem 0;
        color:white;
        font-size:1.1rem;
        transition:transform 0.3s;
        transform:translateY(5rem);
    }
    .templatebox button{
        background-color:#0061a7;
        color:white;
        border:none;
        border-radius:20px;
        width:5rem;
        padding:0.4rem;
        font-size:0.9rem;
        transition:transform 0.3s;
        transform:translateY(5rem);
    }
    .templatebox a{
        color:white;
        text-decoration:none;
    }
    .templatebox:hover img{
        transform:scale(0.85) translateY(-2.5rem);
    }
    .templatebox:hover p{
        transform:translateY(-3.5rem);
    }
    .templatebox:hover button{
        transform:translateY(-3.5rem);
    }
    .templatebox button:hover{
        background-color: #aaa;
        /*box-shadow: 0 2px 45px #aaa;*/
    }
    .templatebox button:active{
        background-color: #0061a7;
    }
}
@media screen and (max-width: 991px) {
    .resumebarparts{
        margin:0 0.5rem;
        width:100%;
    }
    .resumebarpartsmob{
        display:flex;
        background: linear-gradient(0deg, #252525 50%, #0061a7 50%);
        width:100%;
    }
    .templatebox{
        background-color:white;
        margin:5rem 0.5rem 3rem 0.5rem;
        height:18rem;
        width:11rem;
        box-shadow: 0 15px 45px rgba(0,0,0,0.1);
        background: rgba(255,255,255,0.1);
        backdrop-filter:blur(1rem);
        border-radius:5%;
        border-top:0.08rem solid white;
        border-left:0.08rem solid white;
        text-align:center;
        transition:transform 3s;
        overflow:hidden;
    }
    .templatebox img{
        margin:1.5rem auto;
        border-radius:3%;
        transition:transform 0.3s;
        height:15rem;
        width:90%;
    }
    .templatebox p{
        margin:0 0 0.6rem 0;
        color:white;
        font-size:0.9rem;
        transition:transform 0.3s;
        transform:translateY(5rem);
    }
    .templatebox button{
        background-color:#0061a7;
        color:white;
        border:none;
        border-radius:20px;
        width:4.5rem;
        padding:0.3rem;
        font-size:0.8rem;
        transition:transform 0.3s;
        transform:translateY(5rem);
    }
    .templatebox a{
        color:white;
        text-decoration:none;
    }
    .templatebox:hover img{
        transform:scale(0.85) translateY(-2.5rem);
    }
    .templatebox:hover p{
        transform:translateY(-4.3rem);
    }
    .templatebox:hover button{
        transform:translateY(-4.3rem);
    }
    .templatebox button:hover{
        background-color: #aaa;
    }
    .templatebox button:active{
        background-color: #0061a7;
    }
}




.footer{
    text-align:center;
    padding:0.5rem;
}
.ficons a{
    text-decoration: none;
    height:2.5rem;
    width:2.5rem;
    line-height:2.5rem;
    margin:0.6rem 0.3rem;
    color:white;
    background-color: #0061a7;
    font-size: 1.2rem;
    border:1px solid white;
    border-radius:50%;
    transition:transform 0.2s;
}
.ficons a:hover{
    transform: translate(0, -0.6rem);
}