body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235,236,240);
    background-color: #1e1f26;
    margin:0;
    padding:0;
}
.canvas{
    display:flex;
}
.sidebar{
    background-color:#333333;
    width:17%;
    position:fixed;
}
.headlogo{
    padding: 1rem 1.5rem 6rem 1.5rem;
}
.menu{
    text-align:center;
    font-size:1.1rem;
    padding: 0rem 0rem 14.5rem 0rem;
}
.menuop{
    padding:0.5rem 1.5rem;
    position:relative;
    line-height: 2.4;
}
.menuop:hover {
    background-color: #aaa;
    margin:0 1rem;
    border-radius:0.4rem;
}
.menuop:active {
    background-color: #2e7bda;
}
.menuop:after{
    background-color: grey;
    height:0.03rem;
    width: 9rem;
    content:"";
    position:absolute;
    display:block;
    margin:0 12%;
}
.menutemp{
    margin:0 1.5rem;
    border-radius:0.4rem;
    position:relative;
    left:0.7rem;
}
.menutempcv{
    background-color: #2e7bda;
    margin:0 1.5rem;
    border-radius:0.4rem;
    position:relative;
    left:1.2rem;
}
.menu i{
    color:white;
}
.menu p{
    display:inline;
    padding:4%;
}
.menu a{
    text-decoration: none;
    color:white;
}
.backk{
    width:83%;
    background-color: #252525;
    position:relative;
    left:16rem;
    margin:0;
    padding:0;
}
/*-------------------------------------cv----------------------------------*/
.back{
    display:flex;
    width:34rem;
    margin:auto;
}

/*--------------------------------left side---------------------------------*/
.ylw-blk{
    height:47rem;
    width:45%;
}
.ylww{
        background-color: #372b23;
        height:12%;
}
.ylww img{
    z-index:-1;
}
.blk{
    background-color: #ddcbc0;
    height:88%;
    color:black;
}
.cont{
    padding:9rem 1.2rem 0 1.2rem;
}
.cont h1{
    font-size:1rem;
}
.cont i{
    height:1.7rem;
    line-height: 1.7rem;
    width:1.35rem;
    color: #ddcbc0;
    background-color: #372b23;
    border-left: 0.35rem solid #372b23;
    border-radius: 50%;
    margin:0.2rem 0;
}
.cont p{
    font-size: 0.8rem;
    display:inline;
    color:black;
    padding: 0 0.2rem;
}
.cont a{
    text-decoration: none;
    color:black;
}
.per-skil{
    font-size:0.5rem;
    padding: 1rem 1.2rem 0 1.2rem;
}
.per-skil li{
    position:relative;
    font-size:0.9rem;
    padding: 0.2rem 0;
    left:-0.7rem;
}
.langu{
    font-size:0.5rem;
    padding: 1rem 1.2rem 0 1.2rem;
}
.langu p{
    font-size:0.9rem;
}
.bar1{
    /*background-color: pink;*/
    display:flex;
    margin:-15px 1rem;
}
.ybar1{
    position:relative;
    height:0.3rem;
    width:5.5rem;
    background-color:#372b23;
    left:1.4rem;
    top:1.3rem;
    border-radius:20%;

}
.wbar1{
    position:relative;
    height:0.2rem;
    width:1.5rem;
    background-color:white;
    left:1.4rem;
    top:1.35rem;
}
.bar2{
    /*background-color: grey;*/
    display:flex;
    margin:-15px 1rem;
}
.ybar2{
    position:relative;
    height:0.3rem;
    width:6rem;
    background-color:#372b23;
    left:1.5rem;
    top:1.3rem;
    border-radius:20%;
}
.wbar2{
    position:relative;
    height:0.2rem;
    width:1rem;
    background-color:white;
    left:1.5rem;
    top:1.35rem;
}
.bar3{
    display:flex;
    margin:-15px 1rem;
}
.ybar3{
    position:relative;
    height:0.3rem;
    width:5rem;
    background-color:#372b23;
    left:2.3rem;
    top:1.3rem;
    border-radius:20%;

}
.wbar3{
    position:relative;
    height:0.2rem;
    width:2rem;
    background-color:white;
    left:2.3rem;
    top:1.35rem;
}
.ref{
    font-size:0.5rem;
    padding: 1rem 1.2rem;
}

/*-------------------------------right side---------------------------*/
.ylw-wht{
    height:47rem;
    width:55%;
    margin:0;
    position:relative;
    left:-0.1rem;
}
.ylw{
    background-color: #372b23;
    height:43%;
    color:white;
}
#fname{
    text-transform: capitalize;
    padding:4.6rem 1.2rem 0 1.2rem;
    font-size:2.2rem;
    font-weight: 900;
}
#fname h1{
    font-size:2.3rem;
    font-weight:normal;
    margin-top:0;
    margin-bottom:0.5rem;
}
#dprof{
    padding:0 1.2rem;
    margin-top:0;
}
#dprof p{
    font-size:0.75rem;
    font-weight:600;
}
#abt{
    /*position:relative;
    top:-0.5rem;*/
    padding:0.1rem 1.2rem;
}
#abt h1{
    font-size:0.9rem;
}
#abt p{
    font-size:0.8rem;
    color:whitesmoke;
}
.wht{
    background-color: whitesmoke;
    height:57%;
    padding:0 1.2rem;
    position:relative;
    top:-0.67rem;
}
.educ{
}
.educ h1{
    padding-top:1rem;
    font-size:1rem;
}
.educ h2{
    font-size:0.8rem;

}
.educ ul{
    margin:0;
}
.educ li{
    margin-top:0;
    font-size:0.7rem;
    position:relative;
    left:-1rem;
    top:-0.7rem;
}
.proj h1{
    font-size:1rem;
}
.proj h2{
    margin-top:0.4rem;
    font-size:0.8rem;
}
.proj ul{
    margin:0;
}
.proj li{
    margin-top:0;
    font-size:0.7rem;
    position:relative;
    left:-1rem;
    top:-0.7rem;
}

.usetemp{
    width:20rem;
    margin:0 30em;
    display:flex;
}
.usetemp button{
    background-color: #2765b0;
    color:white;
    height:2.2rem;
    width:8rem;
    font-size:1.1rem;
    padding:0.3rem;
    border:0.01rem solid black;
    transition: all .2s ease-in-out;
    margin:1rem 0.5rem;
}
.usetemp button:hover{
    background-color: #2e7bda;
}
.usetemp button:active{
    transform: scale(1.1);
}